@import "./assets/scss/colors.scss";

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 768px) {
  .App {
    padding-right: 96px;
    padding-left: 96px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
  }
}

@media only screen and (max-width: 768px) {
  div.topBar {
    display: table;
  }
  .topBar__search {
    margin-top: 39px;
    margin-bottom: 37px;
  }
}

.title {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 24px;
}

.App {
  padding-right: 13px;
  padding-left: 13px;
}

.stayTitle {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-top: 11px;
  margin-bottom: 13px;
}

.stay {
  margin-bottom: 32px;
}

.details {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 400;

  svg {
    fill: $primary;
    font-size: 14px;
    opacity: 72%;
  }
}

.details__type {
  line-height: 28px;
}

.rating,
.details__type {
  line-height: 28px;
}

.superHost {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: $dark-gray;
  border: 1px solid $dark-gray;
  border-radius: 12px;
  padding: 6px;
  margin-right: 9px;
}

.flex {
  display: flex;
  &.row {
    flex-direction: row;
  }
  &.column {
    flex-direction: row;
  }
  &.space-between {
    justify-content: space-between;
  }
}

.stayPhoto {
  width: 100%;
  border-radius: 24px;
  max-height: 300px;
}

.footer {
  text-align: center;

  span {
    margin-top: 12px;
  }
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  // &::before {
  //   left: 27vw;
  //   width: 50vw;
  //   border-top: solid 1px $light-gray;
  //   content: "";
  //   position: absolute;
  // }
}

.topBar {
  margin-top: 32px;
  font-family: "Mulish";
  font-size: 14px;
}

.topBar__search {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 16px 0px 16px 0px;

  div {
    padding: 0px 16px 0px 16px;
    cursor: pointer;
  }

  .material-icons {
    font-size: 17px;
  }

  .topBar__border {
    border-left: 1px solid #f2f2f2;
  }
}

.primary {
  color: $primary;
}

.light-gray {
  color: #bdbdbd;
}

.lighter-gray {
  color: #a9a9a9;
}

/************** Mobile content *****************/
